In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
#These are the libraries that are needed for webscraping

In [3]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav',headers=headers).text

In [4]:
soup = BeautifulSoup(webpage,'lxml')
#The BeautifulSoup object is made to scrape the data

In [25]:
#Using the html tags to scrape the data
comp = soup.find_all('div',class_="companyCardWrapper")
#Now we have details of all the companies

In [104]:
name = []
ratings = []
for i in comp:
    name.append(i.find('h2').text.strip())
    ratings.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())

In [90]:
reviews = []
salaries =[]
interviews =[]
jobs = []
benefits = []

In [97]:
for i in comp:
    for j in range(5):
        if j == 0:
            reviews.append(i.find_all('a',class_='companyCardWrapper__ActionWrapper')[j].text.strip())
        elif j == 1:
            salaries.append(i.find_all('a',class_='companyCardWrapper__ActionWrapper')[j].text.strip())
        elif j == 2:
            interviews.append(i.find_all('a',class_='companyCardWrapper__ActionWrapper')[j].text.strip())
        elif j == 3:
            jobs.append(i.find_all('a',class_='companyCardWrapper__ActionWrapper')[j].text.strip())
        elif j == 4:
            benefits.append(i.find_all('a',class_='companyCardWrapper__ActionWrapper')[j].text.strip())

In [99]:
comp_type = []
emp_count =[]
comp_type2 =[]
comp_age =[]

In [100]:
for i in comp:
    comp_type.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[0])
    emp_count.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[1])
    comp_type2.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[2])
    comp_age.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[3])

In [105]:
comp1 = {
    'name':name,
    'ratings':ratings,
    'reviews':reviews,
    'salaries':salaries,
    'jobs':jobs,
    'benefits':benefits,
    'comp_type':comp_type,
    'emp_count':emp_count,
    'comp_type2':comp_type2,
    'comp_age':comp_age
}

In [106]:
companies = pd.DataFrame(comp1)

In [107]:
companies

,name,ratings,reviews,salaries,jobs,benefits,comp_type,emp_count,comp_type2,comp_age
0,TCS,3.8,73.2k Reviews,856.8k Salaries,857 Jobs,11.5k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,56 years old
1,Accenture,4.0,46.4k Reviews,585.1k Salaries,9.9k Jobs,7.1k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,35 years old
2,Cognizant,3.9,41.7k Reviews,560.9k Salaries,481 Jobs,5.8k Benefits,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,30 years old
3,Wipro,3.8,39.2k Reviews,427.3k Salaries,408 Jobs,5k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,79 years old
4,Capgemini,3.9,34k Reviews,414.4k Salaries,731 Jobs,4k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,57 years old
5,HDFC Bank,3.9,33.9k Reviews,132.3k Salaries,340 Jobs,3.2k Benefits,Banking,1 Lakh+ Employees,Public,30 years old
6,ICICI Bank,4.0,33.5k Reviews,143.6k Salaries,217 Jobs,3.7k Benefits,Banking,1 Lakh+ Employees,Public,30 years old
7,Infosys,3.8,31.8k Reviews,460.3k Salaries,1.1k Jobs,5.1k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,43 years old
8,HCLTech,3.7,28.5k Reviews,293.5k Salaries,409 Jobs,4.1k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,33 years old
9,Tech Mahindra,3.7,27.6k Reviews,251.3k Salaries,1.1k Jobs,3.6k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,38 years old
10,Genpact,3.9,26.2k Reviews,190.4k Salaries,793 Jobs,3.7k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,27 years old
11,Axis Bank,3.9,22k Reviews,97.9k Salaries,304 Jobs,2.2k Benefits,Banking,50k-1 Lakh Employees,Public,31 years old
12,Teleperformance,3.6,21.9k Reviews,83.9k Salaries,399 Jobs,2k Benefits,BPO,50k-1 Lakh Employees,Forbes Global 2000,46 years old
13,Concentrix Corporation,3.9,21.8k Reviews,105.4k Salaries,133 Jobs,3.3k Benefits,BPO,50k-1 Lakh Employees,Public,41 years old
14,Jio,4.0,20.6k Reviews,67.2k Salaries,176 Jobs,2.6k Benefits,Telecom,50k-1 Lakh Employees,Public,17 years old
15,Amazon,4.1,20.4k Reviews,125.3k Salaries,705 Jobs,4.2k Benefits,Internet,1 Lakh+ Employees,Public,30 years old
16,IBM,4.1,19.7k Reviews,221.5k Salaries,4k Jobs,2.7k Benefits,IT Services & Consulting,1 Lakh+ Employees,Public,113 years old
17,Reliance Retail,3.9,18.7k Reviews,58.9k Salaries,284 Jobs,2k Benefits,Retail,1 Lakh+ Employees,18 years old,Navi Mumbai +990 more
18,HDB Financial Services,4.0,18.1k Reviews,50.5k Salaries,88 Jobs,1.5k Benefits,NBFC,1 Lakh+ Employees,17 years old,Ahmedabad +941 more
19,Larsen & Toubro Limited,4.0,16.6k Reviews,81.7k Salaries,147 Jobs,2.9k Benefits,Engineering & Construction,10k-50k Employees,Public,86 years old